.category-select {
    margin-bottom: 20px;
}


btn-hover2 {
    width: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 35px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 15px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/* btn-hover2:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

btn-hover2:focus {
    outline: none;
}
btn-hover2.color-9 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
} */

btn-hovver2.active {
    background: linear-gradient(to right, #a8e1ff, #63c5ff); /* 選択されたボタンの背景色 */
    color: white; /* 選択されたボタンの文字色 */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
}

ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    padding: 5px 0;
    display: none; /* 初期状態で全て非表示 */
}
