/* サイドナビゲーションのスタイル */
.side-nav {
    position: fixed;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    background-color: #333;
}

.side-nav a {
    display: skyblue;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: center;
}
